<form method="post" action="{{ path('app_rencontre_delete', {'id': rencontre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rencontre.id) }}">
    <button class="btn">Delete</button>
</form>
