<form method="post" action="{{ path('app_rencontre_delete', {'id': rencontre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet Rencontre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rencontre.id) }}">
    <button class="btn btn-danger" style="font-family: cursive;">Supprimer</button>
</form>
