{{ form_start(form, {'attr': {'novalidate': 'novalidate','style':'font-family: cursive;'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="font-family: cursive;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
