{% extends 'base.html.twig' %}

{% block title %}Nouvel Rencontre{% endblock %}

{% block body %}
 <center><h1 style="font-family: cursive;">Nouvel Rencontre</h1></center>

    {{ include('rencontre/_form.html.twig') }}
{% endblock %}
