{% extends 'base.html.twig' %}

{% block title %}Edit SalleCinema{% endblock %}

{% block body %}
    <h1>Edit SalleCinema</h1>

    {{ include('salle_cinema/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_salle_cinema_index') }}">back to list</a>

    {{ include('salle_cinema/_delete_form.html.twig') }}
{% endblock %}
