{% extends 'base.html.twig' %}

{% block title %}New SalleCinema{% endblock %}

{% block body %}
    <h1>Create new SalleCinema</h1>

    {{ include('salle_cinema/_form.html.twig') }}

{% endblock %}
