{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Nouvel Evenement{% endblock %}

{% block body %}

   <center><h1 style="font-family: cursive;">Création d'un nouvel événement</h1></center>
<center>
   <div class="form-control">
    {{ include('evenement/_form.html.twig') }}
   </div>
</center>
{% endblock %}
{% block javascripts %}
   {{ parent() }}

{% endblock %}
